Django==5.0.4
PyMySQL==1.1.0
Pillow==12.2.0
pandas==3.0.3
openpyxl==3.1.5
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2026.2
numpy==2.4.6
python-dateutil==2.9.0.post0
six==1.17.0
et-xmlfile==2.0.0
python-decouple==3.8
xhtml2pdf==0.2.17
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-filter==24.2
rembg==2.0.76
onnxruntime==1.26.0
